---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="font-mplus text-4xl">🧑‍🚀 Hello, Astronaut!</h1>
			<p>
        I am a data scientist specialising in Natural Language Processing (NLP) and machine learning. My background is in pure mathematics, having received my PhD in 2019. More recently, I am focused on software development with Julia for statistical inference.
      </p>

<p>When I am not playing around with data, I enjoy building small websites (with fastAPI and React usually), skiing in Vorarlberg / Tyrol, and playing games.</p>


<p>Some of my other websites:</p>
<ul>
<li>
  nlp-otherwise (github pages powered by fastpages) where my python notebooks get turned into posts, mostly exploring Covid19 data. There I also list a few more of my websites
</li>
</ul>
		</main>
		<Footer />
	</Body>
</html>
